body {
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: auto;
  min-height: 100vh;
}

.form {
  max-width: 400px;
  width: 100%;
  padding: 30px;
  border: 1px solid #000;
  border-radius: 5px;

  color: #000000;
}

.form-group {
  border: none;
  padding: 0;
}

.form-group-title {
  font-weight: 700;
  padding: 0;
  margin-bottom: 10px;
}

.label {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 5px;

}

.input,
.textarea {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 6px;
  /* outline: none; */
}

.textarea {
max-width: 300px;
max-height: 200px;
}

.input:disabled,
.textarea:disabled {
  opacity: 0.7;
}

#checkbox {
  position: absolute; /*скрываем элемент*/
  appearance: none; /*скрываем элемент*/
  outline: none; /*скрываем элемент*/

}

.checkbox-label {
  padding-left: 22px;
}

.checkbox::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: -22px;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox:checked:after { /*При обращение к элементу*/
background: url(../images/check-icon.svg), #7c1977;
background-repeat: no-repeat;
background-position: center;
}

.checkbox:disabled:after {
  cursor: default;
  opacity: 0.5;
}

.checkbox-text {
  font-size: 14px;
}

.button {
  list-style: none;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  padding: 5px 15px;
  background-color: #7c1977;
  color: #ffffff;
  cursor: pointer;
  transition: opacity 0.2s;
}

.button:hover {
  outline: 2px solid #7c1977;
  outline-offset: 1px;
  opacity: 0.85;
}

.button:active {
  background-color: #8719db;
  outline: 2px solid #8719db;
}
.button::not(:disabled):active {
  background-color: #8719db;
}

.button:disabled {
  cursor: default;
  opacity: 0.5;
}

.input:focus-visible,
.textarea:focus-visible,
.checkbox:focus-visible::after {
  outline: 2px solid #7c1977;
  outline-offset: 1px;
}
