/* base Подключение css */
@import "./base/normalize.css";
@import "./base/fonts.css";
@import "./base/vars.css";
@import "./base/global.css";


/* blocks Подключение css */
@import "./blocks/header.css";
@import "./blocks/menu.css";
@import "./blocks/burger.css";
@import "./blocks/hero.css";
