@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
        url('../fonts/Ubuntu-Bold.woff2') format('woff2');
   font-weight: bold;
    font-style: normal;
    font-display: swap;
}

