html {
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 15px;
}

.header__logo {
  width: 50px;
  height: 50px;
  background: #000;
  cursor: pointer;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__stripe {
  max-width: 1320px;
  height: 1px;
  background: #a4a3a3;
}
