.hero {
  padding-top: 80px;
  position: relative;
}

.hero::before {
  content: "";
  width: 100%;
  height: 48px;
  background: url(../gallery/decor-large-icon.svg) repeat-x;
  position: absolute;
  z-index: -1;
  bottom: 106px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  height: 513px;
}

.hero-title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 62px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
  margin-bottom: 40px;
}

.hero-title strong {
  color: #3596ed;
  font-weight: 600;
}

.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  margin-bottom: 140px;
  max-width: 440px;
}

.hero-images {
  display: flex;
  position: relative;
}

.images-text {
  text-align: center;
  position: absolute;
  transform: translate(270.5px, 40px);
  width: 160px;
  height: 86px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #2c332f;
  border: 1px solid #535755;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
}

/* ============================================================ */

.news-card {
  display: flex;
  gap: 28px;
}

.news-article {
  display: flex;
  flex-direction: column;
  max-width: 284px;
  background-color: #fff;
  border: 1px solid #d3cbd9;
  overflow: hidden;
}

.news-article img {
  display: block;
}

.news-info {
  padding: 20px 20px 0;
  margin-bottom: 12px;
}

.news-date {
  display: inline-block;
  margin-bottom: 8px;
}

.news-article footer {
  padding: 0 20px 20px;
  margin-top: auto;
}

.news-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #2c332f;
}

.news-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #3596ed;
}

.news-link::after {
  content: "";
  width: 22px;
  height: 9px;
  background-image: url("../gallery/arrow-right-icon.svg");
  transition: transform 0.2s;
}

.news-link:hover::after {
  transform: translateX(5px);
}

.faq {
  position: relative;
}

.faq::before {
  content: "";
  position: absolute;
  top: 215px;
  width: calc(50% - 250px); /*Уменьшил размер*/
  height: 48px;
  background: url(../gallery/decor-large-icon.svg) no-repeat;
  z-index: -1;

}

.faq__container {
  display: flex;
  gap: 28px;
}

.faq-accordion {
  width: 100%;

}

.details {
  list-style: none;
  margin-bottom: 20px;
  border-block: 1px solid #d3cbd9; /*задает border сверху и с низу*/

}

details[open] summary::after {
  /*Переворачиваем стрелку*/
  transform: rotate(180deg);

}

summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 20px; 
  list-style: none; /*Обнуляем стили*/
  cursor: pointer;
  user-select: none; /*Текст копировать нельзя*/

  
}

.faq-summary {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;

}

summary::-webkit-details-marker {
  /*Обнуляем стили*/
  display: none;
}

.faq-summary::after {
  /*Добавляем стрелку*/
  content: "";
  display: flex;
  width: 17px;
  height: 22px;
  background: url(../gallery/arrow-down-icon.svg) no-repeat center / cover;
  transition: transform 0.3s;
}

.faq-text {
  padding: 0 20px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}
