.article {
  padding-top: 80px;
  margin-bottom: 100px;
}

.article-title-medium {
  font-size: 36px;
}

.article-text,
.article-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  margin-bottom: 20px;
}

.article-text:last-child,
.article-item:last-child {
  margin-bottom: 0;
}

.article-decor-wrapper {
  position: relative;
}

.article-decor-wrapper::before {
  content: "";
  width: 528px;
  height: 48px;
  background: url(../gallery/decor-icon.svg) no-repeat;
  position: absolute;
  z-index: -1;
}

.article-decor-wrapper-1::before {
  top: 100px;
  left: -350px;
}

.article-decor-wrapper-2::before {
  right: -350px;
  bottom: 136px;
}

.article-img,
.article-video {
  width: 100%;
  height: 100%;
}

.article-mb {
  margin-bottom: 80px;
}

.article-p {
  max-width: 744px;
}

.article-list {
  padding-left: 22px;
  margin-bottom: 80px;
}

.article-item {
  margin-bottom: 12px;
}

.article-item::marker {
  font-size: 22px;
  color: #3596ed;
}

.article-decor-wrapper {
  margin-bottom: 40px;
}

.article-play-button {
  position: absolute;
  left: 50%;
  bottom: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #3596ed;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  transform: translate(-50%, 50%);
}

.article-play {
  transform: translateX(15%);
}
