html {
  font-family: "Ubuntu", "Oswald", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  padding: 19px 32px;
  background: #3596ed;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transition: 0.2s;
}

.button:hover {
  opacity: 0.85;
}

.title-large {
  max-width: 596px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
  margin-bottom: 40px;
  font-size: 48px;
}


.section {
  margin-bottom: 140px;
}

.info-text {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: right;
  color: #858e8a;
  margin-bottom: 8px;
}
