/* .burger {
  width: 24px;
  height: 24px;
} */

@media (width > 768px) {
  .burger {
    display: none;
  }
}
@media (width <= 768px) {
  .burger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    z-index: var(--layer-2);
  }

  .burger__icon-menu,
  .burger--open .burger__icon-cross {
    display: block;

  }

  .burger__icon-cross,
  .burger--open .burger__icon-menu {
    display: none;
    
  }
}
