.main__best {
    margin-bottom: 75px;
  }
  .best__content {
    text-align: center;
    align-items: center;
  }

  .best__text {
    max-width: 628px;
    margin: 0 auto 55px;
  }
  .best__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 28px;
  }
@media (width <= 768px) {
  .best__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 28px;
  }
}

  .best__item {
    height: 100%;
    background: var(--hover-color);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    text-align: center;
    margin: 0 10px 20px;
  }
  .best__item-text {

    margin: 40px auto 0;
  }
  .best__item-title {

    margin: 0 auto 30px;
  }
  .best__item-button {
    width: 170px;
    height: 50px;
    line-height: 19.2px;
    margin-bottom: 40px;
  
    transition: var(--transitio-time);
  }
  .best__item-button:hover {
    background: var(--main-color);
    border: 1px solid var(--main-color);
  }
  
  .best__item-img img {
    width: 90%;
  }