.footer {
  background-color: var(--accent-glow-color);
  padding: 60px 0 40px;
  border-top: 1px solid var(--hover-color);
  border-bottom: 1px solid var(--hover-color);
  margin-bottom: 75px;
}

.footer__inner {
  display: grid;
  gap: 28px;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

.footer__logo-text {
  max-width: 304px;
  margin-top: 18px;
}

.footer__col-title {
padding-bottom: 19px;
}


.footer__col-item {
  padding-bottom: 15px;
  
}
