.hero__container {
  margin-top: 108px !important; 
  position: relative;
}

/* Контейнер слайдера */
.hero__slider {
  border-radius: 32px;
  height: 550px;
  background: var(--hover-color);
  overflow: hidden;
  position: relative;
}

@media (width <= 920px) {
  .hero__slider {
    height: auto;
  }
}

/* Обертка слайдов */
.swiper-wrapper {
  height: 100%;
}

/* Каждый слайд */
.swiper-slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__slide-inner {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  gap: 5px;
}

@media (width <= 920px) {
  .hero__slide-inner {
    flex-direction: column;
    gap: 0;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
  }
}

.hero__slide-info {
  flex: 0 0 55%;
  padding-left: 56px;
}

@media (width <= 1200px) {
  .hero__slide-info {
    flex: 0 0 58%;
  }
}
@media (width <= 1024px) {
  .hero__slide-info {
    flex: 0 0 58%;
  }
}

@media (width <= 920px) {
  .hero__slide-info {
    flex: 0 0 52%;
    width: 650px;
    padding-right: 56px;
  }
}
@media (width <= 768px) {
  .hero__slide-info {
    max-width: 100%;
    flex: 0 0 52%;
    width: 650px;
    padding-right: 56px;
  }
}

.hero__slide-title {
  color: var(--main-color);
  margin-bottom: 19px;
}

@media (width <= 1200px) {
  .hero__slide-title {
    font-size: 48px;
  }
}

@media (width <= 768px) {
  .hero__slide-title {
    font-size: 36px;
  }
}

@media (width <= 480px) {
  .hero__slide-title {
    font-size: 28px;
  }
}

.hero__slide-text {
  font-size: 17px;
  margin-bottom: 30px;
}

.hero__slide-img-wrapper {
  flex-shrink: 1;
  min-height: 100%;
  display: flex;
  align-items: end;
}

@media (width <= 920px) {
  .hero__slide-img {
    display: none;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 14px 53px;
  border: 1px solid var(--main-color);
  border-radius: 200px;
  background: transparent;
  cursor: pointer;
  transition: all var(--transitio-time) ease;
  text-decoration: none;
  color: var(--main-color);
}

.button:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

/* Кнопки навигации */
.hero__slider-button {
  position: absolute;
  top: 50% !important;
  /* transform: translateY(-50%) !important; */
  z-index: 10;
  width: 14px !important;
  height: 26px !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top:  0 !important; */
  transition: all var(--transitio-time);
}

/* Убираем стандартные стили Swiper */
.hero__slider-button::after {
  display: none !important;
}

/* Ховер-эффект для стрелок */
.hero__slider-button:hover .hero__slider-button-icon {
  stroke: var(--accent-color); /* Темнее при наведении */
}

.swiper-button-prev {
  margin-left: 18px !important;
}
.swiper-button-next {
  margin-right: 20px;
}
.hero__slider-button.swiper-button-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.hero__slider-button--prev {
  left: 20px;
}

.hero__slider-button--next {
  right: 20px;
}

.hero__slider-button--next svg {
  transform: rotate(180deg);
}

.hero__slider-button-icon {
  stroke: var(--main-color);
  stroke-width: 2;
}

/* Пагинация */
.swiper-pagination {
  position: absolute;
  bottom: 34px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;
}

.swiper-pagination-bullet {
  background: var(--accent-color) !important;
  border-radius: 0 !important;
  opacity: 1 !important;
  transition: all var(--transitio-time);
}

@media (width > 920px) {
  .swiper-pagination-bullet {
    width: 194px !important;
    height: 2px !important;
    margin: 0 34px !important;
  }
}
@media (width <= 920px) {
  .swiper-pagination-bullet {
    width: 170px !important;
    height: 2px !important;
    margin: 0 24px !important;
  }
  .swiper-pagination {
    bottom: 19px !important;
  }
}

@media (width <= 768px) {
  .swiper-pagination-bullet {
    width: 80px !important;
    margin: 0 15px !important;
  }
}

.swiper-pagination-bullet-active {
  background: var(--main-color) !important;
}

@media (width <= 480px) {
  .hero__slider-button {
    width: 32px;
    height: 32px;
  }

  .hero__slider-button--prev {
    left: 10px;
  }

  .hero__slider-button--next {
    right: 10px;
  }

  .swiper-pagination-bullet {
    width: 60px !important;
    margin: 0 2px !important;
  }
}
