.main__keyboard {
  margin-bottom: 19px;
}

.keyboard_inner {
  text-align: center;
  align-items: center;
}

.keyboard__title {
  font-size: 42px;
  line-height: 52.5px;
  margin-bottom: 24px;
}

.search-container {
  background: transparent;
  max-width: 600px;
  margin: 0 auto 75px;
}
.keyboard__search-input {
  border-radius: 100px;
  max-width: 650px;
  width: 100%;
  height: 60px;
  margin: 0 auto 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--accent-color);
  align-items: center;
  justify-content: start;
  transition: var(--transitio-time);
}
#searchInput {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none; /* Убираем границу */
  outline: none; /* Убираем контур при фокусе */
}
.keyboard__surch-loupe {
  display: flex;
  align-items: center;
  padding-left: 17px;
}

.keyboard__search-input:focus-within {
  border-color: var(--accent-color); /* Меняем цвет рамки контейнера при фокусе */
  box-shadow: 0 0 0 5px #0000001a;
  background: var(--hover-color);
}

.keyboard__search-inner {
  max-width: 600px;
  margin: 0 auto 75px;
}
.keyboard__search-item {
  border: 1px solid var(--accent-color);
  border-radius: 100px;
  padding: 12px 22px;
  margin: 4px 3px;

  transition: var(--transitio-time);
}
.keyboard__search-item:hover {
  background: var(--hover-color);
  border: 1px solid var(--accent-color);
}

.keyboard__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  background: var(--hover-color);
  max-width: 935px;
  width: 100%;
  height: 450px;
  border-radius: 16px;
  margin-bottom: 75px;
}
.keyboard__content-title {
  margin: 47px 10px 9px;
}
.keyboard__content-text {
  margin: 0 10px 14px;
}
.keyboard__content-img img {
  width: 100%;
  max-width: 233px;
  height: 200px;
  margin-bottom: 14px;
}

.keyboard__content-button {
  max-width: 400px;
  width: 100%;
  height: 50px;
}
.keyboard__content-button {
  font-size: 14px;
  line-height: 16.8px;
  text-align: left;
}
.keyboard__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboard__field {
  background: transparent;
  border: 1px solid var(--main-color);
  border-radius: 54px 0 0 54px;
  max-width: 285px;
  width: 100%;
  padding: 16px 32px 17px;

  transition: var(--transitio-time);
}

.keyboard__field-button {
  color: var(--bg-color);
  background: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 0 54px 54px 0;
  max-width: 115px;
  width: 100%;
  padding: 16px 32px 17px;

  transition: var(--transitio-time);
}

.keyboard__field-button:hover {
    background: var(--accent-color)

}

#keyboardInput {
  outline: none; /* Убираем контур при фокусе */
}
