/* =========================== */

.main__product {
  margin: 0;
  overflow: hidden;
}

.product__inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 75px;
}
.product__content {
  max-width: 642px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.product__title {
  margin-bottom: 9px;
}
.product__text {
  margin: 0 auto;
}
.auto__carousel {
  width: 100%;
  max-width: 1294px;
  position: relative;
  height: 400px;
  margin: 2em auto;
  overflow: hidden;
}
.carousel-container {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
   gap: 30px;
  align-items: center;
  width: 200%;
  height: 100%;
}

@media (width <= 1290px) {
.auto__carousel {
  height: 900px;
}

  .carousel-container {
     grid-template-columns: repeat(6, 1fr); /* 6 колонок для 3 видимых × 2 строки */
  grid-template-rows: repeat(2, 1fr); /* 2 строки */
  gap: 30px;
  }
}

@media (width <= 900px) {
.auto__carousel {
  height: 785px;
}

  .carousel-container {
     grid-template-columns: repeat(4, 1fr); /* 3 колонок для 3 видимых × 2 строки */
  grid-template-rows: repeat(2, 1fr); /* 2 строки */
  gap: 30px;
  }

}
@media (width <= 576px) {
.auto__carousel {
  height: 1200px;
}

  .carousel-container {
     grid-template-columns: repeat(2, 1fr); /* 1 колонок для 3 видимых × 2 строки */
  grid-template-rows: repeat(3, 1fr); /* 3 строки */
  gap: 30px;
  }

}

.slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: 0 10px;
}

.slide img {
  object-fit: contain;
}

.carousel__img {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-bottom: 33px;
}
.carousel__title {
  margin-bottom: 9px;
}
.carousel__text {
  margin-bottom: 25px;
}

