html {
  font-family: "Ubuntu", "Oswald", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}