.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px ;
  padding-bottom: 30px;
  border-bottom: 1px solid #d3cbd9;
  gap: 10px;

}

.header__info {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.info-text {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: right;
  color: #858e8a;
  margin-bottom: 8px;
}

.info-phone {
  font-weight: 500;
  font-size: 18px;
  color: #2c332f;
  transition: 0.2s;
}

.info-phone:hover {
  color: #3596ed;
}


