html {
  font-family: "Ubuntu", "Oswald", sans-serif;
}

body * {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.article {
  padding-top: 80px;
  margin-bottom: 100px;
}
.article-title-large {
  font-size: 48px;
}
.article-title-medium {
  font-size: 36px;
}

.article-title {
  max-width: 596px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
  margin-bottom: 40px;
}

.article-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  margin-bottom: 20px;
}

.article-img {
  width: 100%;
}

.article-mb {
  margin-bottom: 80px;
}

.article-p {
  max-width: 744px;
}

.article-list {
  margin: 0;
  padding-left: 0px;
  margin-bottom: 80px;
  list-style: none;
}

.article-ellipse {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #3596ed;
  margin-right: 8px;
}

.article-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.article-video {
  width: 100%;
  margin-bottom: 40px;
}
