html {
  /* Стили для страницы */
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--main-color);
  box-sizing: border-box;
  scroll-behavior: smooth; /*Плавная прокрутка*/
  scroll-padding-top: 98px; /*Добавляет отступ с верзу, чтобы шапка не перекрывала*/
}

.page__body {
  /* Стиль Для адаптива, сжатия */
  min-width: 357px;
  /* min-height: 200vh; */
  /* Цвет фона */
  background-color: var(--bg-color);
}

.page__body--no-scroll {
  overflow: hidden;
}

.container {
  /* Размер для контейнера */
  /* max-width: var(--container-width); */
  width: min(var(--container-width), 100% - var(--container-padding) * 2);

  /* Центрируем */
  margin-inline: auto;
  /* важно! */
  box-sizing: border-box;
}

img {
  object-fit: cover; /* заполнять контейнер относительно его высоты и ширины.*/
}

/* Выделение при Tab */
a:focus-visible,
button:focus-visible {
  outline: 1px solid var(--accent-color);
  outline-offset: 2px;
}

.text__light,
.text-regular {
  font-size: 16px;
  line-height: 140%;
  color: var(--main-color);
}

.text-light {
  font-weight: 300;
}
.text-regular {
  font-weight: 400;
}

.title-sm,
.title-md {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--main-color);
}

.title-md {
  /* font-size: 60px; */
  /*min-width 375px, max-width 992px*/
  font-size: clamp(32px, 0.936rem + 4.54vw, 60px);
}

.title-sm {
  /* font-size: 32px; */
  /*min-width 375px, max-width 768px*/
  font-size: clamp(24px, 1.023rem + 2.04vw, 32px);
}

@media (width > 576px) {
  .section {
    padding-bottom: 140px;
  }
  .section__title {
    margin-bottom: 40px;
  }
}

@media (width <= 576px) {
  .section {
    padding-bottom: 80px;
  }
  .section__title {
    margin-bottom: 30px;
  }
}
