html {
  /* Стили для страницы */
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--main-color);
  box-sizing: border-box;
  scroll-behavior: smooth; /*Плавная прокрутка*/
  scroll-padding-top: 98px; /*Добавляет отступ с верзу, чтобы шапка не перекрывала*/
}

.page__body {
  /* Стиль Для адаптива, сжатия */
  min-width: 357px;
  /* min-height: 200vh; */
  /* Цвет фона */
  background-color: var(--bg-color);

}

.page__body--no-scroll {
  overflow: hidden;
}

.container {
  /* Размер для контейнера */
  /* max-width: var(--container-width); */
  width: 100%;
  max-width: var(--container-width);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  /* Центрируем */
  margin: 0 auto;
  /* важно! */
  box-sizing: border-box;
}

img {
  object-fit: cover; /* заполнять контейнер относительно его высоты и ширины.*/
}

/* Выделение при Tab */
a:focus-visible,
button:focus-visible {
  outline: 1px solid var(--accent-color);
  outline-offset: 2px;
}

.text__light,
.text-regular {
  font-size: 16px;
  line-height: 140%;
  color: var(--main-color);
}

.text-light {
  font-weight: 300;
}
.text-regular {
  font-weight: 400;
}

.title-md {
  font-weight: 600;
  font-size: 60px;
  text-transform: uppercase;
  color: var(--main-color);
}
