.article {
  padding-top: 80px;
}

.article-title-medium {
  font-size: 36px;
}

.article-text,
.article-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.article-text:last-child,
.article-item:last-child {
  margin-bottom: 0;
}

.article-decor-wrapper {
  position: relative;
}

.article-decor-wrapper-1::before {
  width: 100%;
  top: 100px;
  left: -350px;
}

.article-decor-wrapper-2::before {
  width: 100%;
  right: -350px;
  bottom: 136px;
}

.article-mb,
.article-mb-1,
.article-mb-2 {
  /* padding-top: 80px; */
  margin-bottom: 80px;
}

.article-p {
  max-width: 744px;
}

.article-list {
  padding-left: 22px;
  margin-bottom: 80px;
}

.article-item {
  margin-bottom: 12px;
}

.article-item::marker {
  font-size: 22px;
  color: #3596ed;
}

.article-decor-wrapper-2 {
  margin-bottom: 40px;
}

.article-play-button {
  position: absolute;
  left: 50%;
  bottom: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #3596ed;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  transform: translate(-50%, 50%);
  transition: opacity 0.2s, background-color 0.2s;
}

.article-video {
  width: 100%;
  height: 100%;
}

.article-play {
  width: auto;
  transform: translateX(15%);
}

.article-play-button:hover {
  opacity: 0.85;
}

.article-play-button:not(:disabled):active {
  background-color: #057de5;
}

@media (width <= 992px) {
  .article {
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .title-large {
    font-size: 38px;
    margin-bottom: 20px;
  }

  .article-list {
    margin-bottom: 40px;
  }

  .article-mb,
  .article-mb-1,
  .article-mb-2 {
    margin-bottom: 40px;
  }

  .article-decor-wrapper::before,
  .article-decor-wrapper::before {
    display: none;
  }

  .article-play-button {
    width: 40px;
    height: 40px;
  }

  .article-play {
    width: 14px;
    height: 14px;
  }
}
