.footer {
  background: linear-gradient(
    90deg,
    rgba(73, 169, 255, 0.2) 0%,
    rgba(252, 124, 217, 0.2) 100%
  );
  padding: 60px 0 40px;
  margin-top: auto;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-inner {
  display: flex;
  width: auto;
  gap: 60px;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  margin: 0;
  padding: 40px 0;
}

.nav-list {
  list-style: none;
}

.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  transition: 0.2s;
}

.nav-link:hover {
  color: #3596ed;
}

.footer__copy {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #858e8a;
  padding-top: 40px;
  border-top: 1px solid #d3cbd9;
  width: 100%;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*
Между этими размерами адаптив должен быть идеален
1200px
1024px
992px
768px
576px
375px
Редкость адаптива
320px
*/

@media (width <= 768px) {
  .nav-inner {
    gap: 5px;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    justify-content: center; /* Центрирует элементы */
    padding: 20px 0; /* Уменьшает отступы */
  }

  .nav-list {
    margin: 5px 10px; /* Добавляет отступы между элементами */
  }

  .footer {
    padding: 40px 0 20px; /* Уменьшает отступы футера */
  }

  .footer__copy {
    padding-top: 20px; /* Уменьшает отступ сверху */
  }
}

@media (width <= 576px) {
  .nav-inner {
    gap: 5px;
    flex-direction: column; /*Выстраиваем элементы в колонку*/
    align-items: center; /*Центрируем элементы*/
  }

  .footer__copy {
    padding-top: 0;
  }
}
