.characteristics__video {
  position: relative;
}

@media (width > 576px) {
  .characteristics__video {
    margin-bottom: 60px;
  }
}

@media (width <= 576px) {
  .characteristics__video {
    margin-bottom: 40px;
  }
}

.characteristics-video-previe {
  border: 1px solid var(--main-color);
  border-radius: 12px;
  overflow: hidden;
}

.characteristics__video-play-link {
  /*Центрируе*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*Выравниваем*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*Задаем параметры*/
  border: 1px solid var(--main-color);
  border-radius: 50%;
  background-color: var(--overlay-color);
  /*Добавим тень*/
  box-shadow: var(--shadows-glow), inset var(--shadows-glow);
  transition: border-color var(--transitio-time),
    box-shadow var(--transitio-time);
}

@media (any-hover: hover) {
  /*При наведении меняем цвет*/
  .characteristics__video-play-link:hover {
    border-color: var(--accent-color);
    box-shadow: var(--shadows-accent-glow), inset var(--shadows-accent-glow);
  }
}

@media (width > 576px) {
  .characteristics__video-play-link {
    width: 80px;
    height: 80px;
  }
  .characteristics__video-play-icon {
    width: 17px;
    height: 23px;
    /*Сместим иконку в право*/
    transform: translateX(2px);
  }
}
@media (width <= 576px) {
  .characteristics__video-play-link {
    width: 48px;
    height: 48px;
  }
  .characteristics__video-play-icon {
    width: 10px;
    height: 12px;
    /*Сместим иконку в право*/
    transform: translateX(1px);
  }
}

.characteristics__list {
  /*Зададим грид*/
  display: grid;
  /*Зададим размер карточки*/
  grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
  /*Зададим отступ для строк и колонок*/
  gap: 40px 20px;
}

.characteristics__card-icon {
  margin-bottom: 4px;
  /*Сдвигаем иконку в лево до края*/
  transform: translateX(-8px);
}

/* @media (width > 576px) {
  .characteristics__card-icon {
    width: 56px;
    height: 56px;

  }
} */
@media (width <= 576px) {
  .characteristics__card-icon {
    width: 48px;
    height: 48px;

  }
}

.characteristics__card-title {
  margin-bottom: 20px;
}

.characteristics__card-description {
  /*Зададим стили для текста*/
  font-weight: 300;
  font-size: 13px;
  line-height: 140%;
  color: var(--main-color);
}
